.channel-message-info{
    
    display: grid;
    grid-template-areas: 'message-image message-sender message-sender'
                          'message-image message-message message-message';
    grid-template-columns: 7% 20% 60%;
    grid-template-rows:    min-content 
                           min-content;
    grid-column-gap: 10px;
    margin-bottom: 10px;
    margin-left: 20px; 
}

.message-image{
    grid-area: message-image;
    border: 1px solid rgb(148, 144, 144);
    border-radius: 5px;
    margin-bottom: 0px ;
    
    
}

.message-sender{
    grid-area: message-sender;
    margin-bottom: 0px;
    margin-top: 0px;
}

.message-message{
    grid-area: message-message;
    margin-bottom: 0px;
    margin-top: 0px;
}
.message-date{
    font-weight: normal;
    margin-left: 10px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (max-width:700px) {
    .channel-message-info{
    
        display: grid;
        grid-template-areas: 'message-image message-sender message-sender'
                              'message-image message-message message-message';
        grid-template-columns: 15% 25% 60%;
        grid-template-rows:    min-content 
                               min-content;
        grid-column-gap: 10px;
        margin-bottom: 10px;
        margin-left: 20px; 
    }
   
}