
.Channel-message{
    width: 70%;
    left: 30%;
}

.all-message{
    position: fixed;
    height : 89%;
    width: 70%;
    overflow-y : auto;
    border-bottom: 1px solid #808080 ;
    
}


.channel-message-input{
    position: fixed;
    width: 65%;
    left: 32%;
    border: 1px solid #808080;
    border-radius: 5px;
    height: 30px;
    top: 92%;
    

    
}
.channel-message-input:hover{
    border: 3px solid #6767ce;
}
